[submodule "polylib"]
	path = polylib
	url = https://github.com/cristianrcv/polylib.git
[submodule "isl"]
	path = isl
	url = https://github.com/Meinersbur/isl.git
[submodule "pet"]
	path = pet
	url = https://github.com/Meinersbur/pet.git
